In [1]:
#Functions

def greet_user(): #defining a function called "greet_user" and giving any information
                   # the function needs inside the paranthesis.
    print('Hello')
    
#we defined a function that prints the string "Hello"

greet_user()

Hello

In [2]:
#We want to define a function that prints "Hello name". This time, we want the function
#to greet a specific person 

def greet_user(person):
    print("Hello " + person + ".")
    
greet_user('jesse')

Hello jesse.

In [3]:
greet_user('Adam')

Hello Adam.

In [ ]:
#Here 'person' is called a parameter. The value we give to a parameter is called an 'argument'
#When we say greet_user('jesse'), the word jesse is an argument.

In [4]:
#1. Write a function called display_message() that prints one sentence telling everyone what
# you are learning about in this chapter. Call the function, and make sure the message
#displays correctly

def display_message():
    print("In this chapter, we are learning about functions.")
    
display_message()

In this chapter, we are learning about functions.

In [6]:
#2 Write a funciton called favorite_book() that accepts one parameter, title. The function 
#should print a message, such as One of my favorite books is Alice in The Wonderland. Call
#the function, making sure to include a book title as an argument in the funciton call.

def favorite_book(title):
    print("One of my favorite books is " + title + ".")
    
favorite_book("Crash Course Python")
favorite_book("Alice in The Wonderland")

One of my favorite books is Crash Course Python.
One of my favorite books is Alice in The Wonderland.

In [8]:
#Sometimes, you will need more than one parameter.

def describe_pet(animal_type, pet_name):
    print("I have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name + ".")
    

describe_pet('hamster', 'Harry') #Remember to pay attention to the order when passing arguments

I have a hamster.
My hamster's name is Harry.

In [11]:
describe_pet('cat', 'Willie')

I have a cat.
My cat's name is Willie.

In [12]:
#If we don't pay attention to the order, we may end up with an undesired result.

describe_pet('Willie', 'cat')

I have a Willie.
My Willie's name is cat.

In [ ]:
#Avoiding Argument Errors p.140. The number of arguments we pass need to equal the number
#of parameters the function has. Otherwise, we will get an error. Let's look at an example.

In [13]:
describe_pet()

TypeError: describe_pet() missing 2 required positional arguments: 'animal_type' and 'pet_name'

In [15]:
#3. Write a function called make_shirt() that accepts a size and the 
#text of a message that should be printed on this shirt. The function
#should print a sentence summarizing the size of the shirt and the 
#message printed on it. 

def make_shirt(size, text):
    print("The shirt should be of size " + size + " with " + text + " written on it.")
    
make_shirt('small', 'python')
make_shirt('medium', 'java')

The shirt should be of size small with python written on it.
The shirt should be of size medium with java written on it.

In [20]:
#4. Write a function called describe_city() that accepts the name of a 
#city and its country. The function should print a simple sentence, such 
#as Reykjavik is in Iceland. Call your function for three different 
#cities.

def describe_city(city, country):
    print(city + " is in " + country + ".")
    
describe_city("Ankara", "Turkey")
describe_city("Albany", "The United States")
describe_city("Kuwait city", "Kuwait")

Ankara is in Turkey.
Albany is in The United States.
Kuwait city is in Kuwait.

In [22]:
#Return Values p.141

#we may use "return" instead of print. 

def get_name(first_name, last_name):
    full_name= first_name + ' ' + last_name
    return full_name

#When we use return, we have get_name(first_name, last_name) = full_name

musician = get_name('Jimi', "Hendrix")
print(musician)

#In this case get_name('Jimi', "Hendrix") is set to equal full_name
#(whatever we wrote for "return")

Jimi Hendrix

In [23]:
#The parameters in a function do not need to be variables, we could
#use lists, tuples, and so on.

def greet_user(names): #here, the parameter is a list called names
    for name in names:
        msg = "Hello, " + name + "!"
        print(msg)
        
greet_user(['hannah', 'ty', 'margot'])

#So we passed a list ['hannah', 'ty', 'margot'] for the parameter names

Hello, hannah!
Hello, ty!
Hello, margot!

In [26]:
#Passing an arbitrary number of arguments p. 151

#Sometimes, we will not know the number of arguments we will need. 
#In this case, we may use a list for the parameter (like we did 
#in the previous example), or we could use a tuple with an asterisk as
#we will see below.

def make_pizza(toppings): #we can use a list for our parameter since
                            #we don't know how many toppings will be 
                            #requested.
    print(toppings)
    
make_pizza(['pepperoni'])
make_pizza(['mushrooms', 'green peppers', 'extra cheese'])

['pepperoni']
['mushrooms', 'green peppers', 'extra cheese']

In [28]:
#We can also use a more complicated function

def make_pizza(toppings):
    print("Making a pizza with the following toppings:")
    for topping in toppings:
        print('- ' + topping)
        
make_pizza(['pepperoni'])
make_pizza(['mushrooms', 'green peppers', 'extra cheese'])

Making a pizza with the following toppings:
- pepperoni
Making a pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [30]:
#There is another way to include any number of arguments, and that's
#by using a tuple with an asterisk

def make_pizza(*toppings):
    print(toppings)
    
#Here, *toppings created an empty tuple called toppings and added the
#the arguements given in make_pizza to the tuple toppings
    
make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

('pepperoni',)
('mushrooms', 'green peppers', 'extra cheese')

In [31]:
def make_pizza(*toppings):
    print("Making a pizza with the following toppings:")
    for topping in toppings:
        print('- ' + topping)
        
make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

Making a pizza with the following toppings:
- pepperoni
Making a pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [33]:
#if we want to add more parameters to make_pizza, we can do that by
#writings all the parameters first and the parameter *toppings the last

def make_pizza(size, *toppings):
    print("Making a " + str(size) + "-inch pizza with the following toppings:")
    for topping in toppings:
        print("- " + topping)
        
make_pizza(16, 'pepperoni')

make_pizza(12, 'mushrooms', 'green peppers', 'extra cheese')

Making a 16-inch pizza with the following toppings:
- pepperoni
Making a 12-inch pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [ ]:
#5. Write a function that accepts a list of items a person wants on a 
#sandwich. The function should have one parameter that collects as many
#items as the function call provides, and it should print a summary
#of the sandwich that is being ordered. Call the function three times,
#using a different number of arguments each time.

In [37]:
def make_sandwich(*list):
    print("Adding the following to my sandwich:")
    for xy in list:
        print("- " + xy)
        
        
make_sandwich('olives', 'cheese', 'tomatoe')
make_sandwich('cheese', 'turkey')
make_sandwich('tuna')

Adding the following to my sandwich:
- olives
- cheese
- tomatoe
Adding the following to my sandwich:
- cheese
- turkey
Adding the following to my sandwich:
- tuna

In [ ]:
#Numpy Arrays from the book "Python programming for numerical methods:
#a guide for engineers and scientists"

In [40]:
#To use numpy arrays we need to import the numpy library. A numpy array
#is very similar to a list. 

import numpy as np

x = np.array([1, 4, 3])
print(x)

[1 4 3]

In [42]:
#We can also define matrices using numpy arrays. To define matrices,
#we write the first row, then the second row, and so on.

y = np.array([[1, 4, 3], [9, 2, 7]])
print(y)

[[1 4 3]
 [9 2 7]]

In [43]:
#y.shape gives us the number of rows in our numpy array followed by 
#the number of columns


y.shape

(2, 3)

In [44]:
#y.size gives us the number of entries that we have


y.size

6

In [49]:
#When we want to create a list starting from one number (example 1)
#and ending at another number (example 2000) with a certain 
#increment (example 1)

z = np.arange(1, 2000, 1)
print(z)

#If I want the same numpy array with an increment of 2

zz = np.arange(1, 2000, 2)
print(zz)

zzz= np.arange(1, 2000, 10)
print(zzz)

[   1    2    3 ... 1997 1998 1999]
[   1    3    5    7    9   11   13   15   17   19   21   23   25   27
   29   31   33   35   37   39   41   43   45   47   49   51   53   55
   57   59   61   63   65   67   69   71   73   75   77   79   81   83
   85   87   89   91   93   95   97   99  101  103  105  107  109  111
  113  115  117  119  121  123  125  127  129  131  133  135  137  139
  141  143  145  147  149  151  153  155  157  159  161  163  165  167
  169  171  173  175  177  179  181  183  185  187  189  191  193  195
  197  199  201  203  205  207  209  211  213  215  217  219  221  223
  225  227  229  231  233  235  237  239  241  243  245  247  249  251
  253  255  257  259  261  263  265  267  269  271  273  275  277  279
  281  283  285  287  289  291  293  295  297  299  301  303  305  307
  309  311  313  315  317  319  321  323  325  327  329  331  333  335
  337  339  341  343  345  347  349  351  353  355  357  359  361  363
  365  367  369  371  373  375  377  379  381  383  385  387  389  391
  393  395  397  399  401  403  405  407  409  411  413  415  417  419
  421  423  425  427  429  431  433  435  437  439  441  443  445  447
  449  451  453  455  457  459  461  463  465  467  469  471  473  475
  477  479  481  483  485  487  489  491  493  495  497  499  501  503
  505  507  509  511  513  515  517  519  521  523  525  527  529  531
  533  535  537  539  541  543  545  547  549  551  553  555  557  559
  561  563  565  567  569  571  573  575  577  579  581  583  585  587
  589  591  593  595  597  599  601  603  605  607  609  611  613  615
  617  619  621  623  625  627  629  631  633  635  637  639  641  643
  645  647  649  651  653  655  657  659  661  663  665  667  669  671
  673  675  677  679  681  683  685  687  689  691  693  695  697  699
  701  703  705  707  709  711  713  715  717  719  721  723  725  727
  729  731  733  735  737  739  741  743  745  747  749  751  753  755
  757  759  761  763  765  767  769  771  773  775  777  779  781  783
  785  787  789  791  793  795  797  799  801  803  805  807  809  811
  813  815  817  819  821  823  825  827  829  831  833  835  837  839
  841  843  845  847  849  851  853  855  857  859  861  863  865  867
  869  871  873  875  877  879  881  883  885  887  889  891  893  895
  897  899  901  903  905  907  909  911  913  915  917  919  921  923
  925  927  929  931  933  935  937  939  941  943  945  947  949  951
  953  955  957  959  961  963  965  967  969  971  973  975  977  979
  981  983  985  987  989  991  993  995  997  999 1001 1003 1005 1007
 1009 1011 1013 1015 1017 1019 1021 1023 1025 1027 1029 1031 1033 1035
 1037 1039 1041 1043 1045 1047 1049 1051 1053 1055 1057 1059 1061 1063
 1065 1067 1069 1071 1073 1075 1077 1079 1081 1083 1085 1087 1089 1091
 1093 1095 1097 1099 1101 1103 1105 1107 1109 1111 1113 1115 1117 1119
 1121 1123 1125 1127 1129 1131 1133 1135 1137 1139 1141 1143 1145 1147
 1149 1151 1153 1155 1157 1159 1161 1163 1165 1167 1169 1171 1173 1175
 1177 1179 1181 1183 1185 1187 1189 1191 1193 1195 1197 1199 1201 1203
 1205 1207 1209 1211 1213 1215 1217 1219 1221 1223 1225 1227 1229 1231
 1233 1235 1237 1239 1241 1243 1245 1247 1249 1251 1253 1255 1257 1259
 1261 1263 1265 1267 1269 1271 1273 1275 1277 1279 1281 1283 1285 1287
 1289 1291 1293 1295 1297 1299 1301 1303 1305 1307 1309 1311 1313 1315
 1317 1319 1321 1323 1325 1327 1329 1331 1333 1335 1337 1339 1341 1343
 1345 1347 1349 1351 1353 1355 1357 1359 1361 1363 1365 1367 1369 1371
 1373 1375 1377 1379 1381 1383 1385 1387 1389 1391 1393 1395 1397 1399
 1401 1403 1405 1407 1409 1411 1413 1415 1417 1419 1421 1423 1425 1427
 1429 1431 1433 1435 1437 1439 1441 1443 1445 1447 1449 1451 1453 1455
 1457 1459 1461 1463 1465 1467 1469 1471 1473 1475 1477 1479 1481 1483
 1485 1487 1489 1491 1493 1495 1497 1499 1501 1503 1505 1507 1509 1511
 1513 1515 1517 1519 1521 1523 1525 1527 1529 1531 1533 1535 1537 1539
 1541 1543 1545 1547 1549 1551 1553 1555 1557 1559 1561 1563 1565 1567
 1569 1571 1573 1575 1577 1579 1581 1583 1585 1587 1589 1591 1593 1595
 1597 1599 1601 1603 1605 1607 1609 1611 1613 1615 1617 1619 1621 1623
 1625 1627 1629 1631 1633 1635 1637 1639 1641 1643 1645 1647 1649 1651
 1653 1655 1657 1659 1661 1663 1665 1667 1669 1671 1673 1675 1677 1679
 1681 1683 1685 1687 1689 1691 1693 1695 1697 1699 1701 1703 1705 1707
 1709 1711 1713 1715 1717 1719 1721 1723 1725 1727 1729 1731 1733 1735
 1737 1739 1741 1743 1745 1747 1749 1751 1753 1755 1757 1759 1761 1763
 1765 1767 1769 1771 1773 1775 1777 1779 1781 1783 1785 1787 1789 1791
 1793 1795 1797 1799 1801 1803 1805 1807 1809 1811 1813 1815 1817 1819
 1821 1823 1825 1827 1829 1831 1833 1835 1837 1839 1841 1843 1845 1847
 1849 1851 1853 1855 1857 1859 1861 1863 1865 1867 1869 1871 1873 1875
 1877 1879 1881 1883 1885 1887 1889 1891 1893 1895 1897 1899 1901 1903
 1905 1907 1909 1911 1913 1915 1917 1919 1921 1923 1925 1927 1929 1931
 1933 1935 1937 1939 1941 1943 1945 1947 1949 1951 1953 1955 1957 1959
 1961 1963 1965 1967 1969 1971 1973 1975 1977 1979 1981 1983 1985 1987
 1989 1991 1993 1995 1997 1999]
[   1   11   21   31   41   51   61   71   81   91  101  111  121  131
  141  151  161  171  181  191  201  211  221  231  241  251  261  271
  281  291  301  311  321  331  341  351  361  371  381  391  401  411
  421  431  441  451  461  471  481  491  501  511  521  531  541  551
  561  571  581  591  601  611  621  631  641  651  661  671  681  691
  701  711  721  731  741  751  761  771  781  791  801  811  821  831
  841  851  861  871  881  891  901  911  921  931  941  951  961  971
  981  991 1001 1011 1021 1031 1041 1051 1061 1071 1081 1091 1101 1111
 1121 1131 1141 1151 1161 1171 1181 1191 1201 1211 1221 1231 1241 1251
 1261 1271 1281 1291 1301 1311 1321 1331 1341 1351 1361 1371 1381 1391
 1401 1411 1421 1431 1441 1451 1461 1471 1481 1491 1501 1511 1521 1531
 1541 1551 1561 1571 1581 1591 1601 1611 1621 1631 1641 1651 1661 1671
 1681 1691 1701 1711 1721 1731 1741 1751 1761 1771 1781 1791 1801 1811
 1821 1831 1841 1851 1861 1871 1881 1891 1901 1911 1921 1931 1941 1951
 1961 1971 1981 1991]

In [51]:
xyz = np.arange(0.5, 3, 0.5)
print(xyz)

[0.5 1.  1.5 2.  2.5]

In [52]:
#np.linspace gives us a numpy array starting from one number an ending
#at another. Here the third parameter is the number of elements that
#we want that are evenly spaced out.

np.linspace(3,9,10)

array([3.        , 3.66666667, 4.33333333, 5.        , 5.66666667,
       6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

In [53]:
print(x)

[1 4 3]

In [54]:
print(x[1])

4

In [55]:
print(x[1:]) #all elements starting from the second element

[4 3]

In [56]:
print(x[-1]) #the last element of x

3

In [57]:
print(y)

[[1 4 3]
 [9 2 7]]

In [58]:
y[0,1]

4

In [59]:
y[0,:]

array([1, 4, 3])

In [60]:
y[:,-1]

array([3, 7])

In [61]:
y[:, [0,2]]

array([[1, 3],
       [9, 7]])

In [62]:
#We can define a numpy array of any size consisting entirely of zeros
#or ones

np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [63]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [65]:
a = np.arange(1,7) #the increment is 1 by default
print(a)

[1 2 3 4 5 6]

In [70]:
a[3]

4

In [71]:
a[:3] =1 #all entries from the 0th position up to the 2nd position is 
#defined as 1

print(a)

[1 1 1 4 5 6]

In [73]:
a[1:4] = [9,7,8]
print(a)

[1 9 7 8 5 6]

In [77]:
b = np.array([[1,2], [3,4]])
print(b)

[[1 2]
 [3 4]]

In [78]:
b+2

array([[3, 4],
       [5, 6]])

In [79]:
b-2

array([[-1,  0],
       [ 1,  2]])

In [80]:
b*2

array([[2, 4],
       [6, 8]])

In [81]:
b/2

array([[0.5, 1. ],
       [1.5, 2. ]])

In [82]:
b**2

array([[ 1,  4],
       [ 9, 16]])

In [83]:
d = np.array([[3,4],[5,6]])

b+d

array([[ 4,  6],
       [ 8, 10]])

In [84]:
b-d

array([[-2, -2],
       [-2, -2]])

In [85]:
b*d #note: this is NOT matrix multiplication, but component-wise multiplication

array([[ 3,  8],
       [15, 24]])

In [86]:
b/d

array([[0.33333333, 0.5       ],
       [0.6       , 0.66666667]])

In [87]:
b**d

array([[   1,   16],
       [ 243, 4096]])

In [88]:
#Recall that the transpose of a matrix is when the rows become the columns

b.T

array([[1, 3],
       [2, 4]])

In [89]:
x = np.array([1, 4, 9])
z = np.sqrt(x)
print(z)

[1. 2. 3.]

In [92]:
x = np.array([1, 4, 9, 5, 3])
y = np.array([0, 5, 8, 4, 5])
x>3

array([False,  True,  True,  True, False])

In [93]:
x > y

array([ True, False,  True,  True, False])

In [95]:
#We are defining y to be a list containing those elements of x >3

y = x[x>3]
print(y)

[4 9 5]

In [96]:
x[x>3] = 0 #I'm defining elements in x greater than 3 to equal 0
print(x)

[1 0 0 0 3]